@using comidApp.Core;
@model Restaurante;
@{
    ViewData["Title"] = "Restaurante - Alta";
}

<form asp-controller="Restaurante" asp-action="Alta" method="post">
    <div asp-validation-summary="All"></div>
    <div><input type="hidden" asp-for="@Model.idRestaurante" /></div>
    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label asp-for="Email" class="col-form-label">Email</label>
        </div>
        <div class="col-auto">
            <input asp-for="Email" class="form-control" />
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label asp-for="Nombre" class="col-form-label">Nombre</label>
            </div>
            <div class="col-auto">
                <input asp-for="Nombre" class="form-control" />
            </div>
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label asp-for="Domicilio" class="col-form-label">Domicilio</label>
                </div>
                <div class="col-auto">
                    <input asp-for="Domicilio" class="form-control" />
                </div>
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label asp-for="Clave" class="col-form-label">Clave</label>
                    </div>
                    <div class="col-auto">
                        <input asp-for="Clave" class="form-control" type="password"/>
                    </div>
</form>

@* <a asp-controller="Restaurante" asp-action="Alta" asp-route>
<button type="submit" class=""><i class =""> *@