@{
    ViewData["Title"] = "ComidApp";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Bienvenidos a nuestra seleccion mas sofisticada de restaurantes</a>.</p>
</div>

<html>
<body>
<center>
<img src="https://i.pinimg.com/736x/a4/aa/f6/a4aaf62f3f9c18ffe5bba89a713b324b.jpg" width="500" height="380">
</center>
</body>
</html>